$color-primary-1: hsl(26, 100%, 55%);
$color-primary-2: hsl(25, 100%, 94%);

$color-neutral-1: hsl(220, 13%, 13%);
$color-neutral-2: hsl(219, 9%, 45%);
$color-neutral-3: hsl(220, 14%, 75%);
$color-neutral-4: hsl(223, 64%, 98%);
$color-neutral-5: hsl(0, 0%, 100%);
$color-neutral-6: hsl(0, 0%, 0%);

$max-width-desktop: 120rem;
$max-width-mobile: 37.5rem;

$box-shadow: 0.2rem 0.2rem 0.8rem rgba(0, 0, 0, 0.5);
