.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;

  &__container {
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 90%;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__img-box {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 1rem;

    &::after {
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }

  &__img-description {
    position: absolute;
    color: white;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    transition: all 0.4s ease-out;
  }
}

@include respond(tab-port) {
  .home {
    &__container {
      flex-direction: column;
    }

    &__img-box {
      margin-right: 0;
      margin-bottom: 2rem;
    }

    &__img-description {
      font-size: 4rem;
    }
  }
}
